# Telegram API credentials
# Получите эти данные на https://my.telegram.org/apps
TELEGRAM_API_ID=20804
TELEGRAM_API_HASH=91e697237ab9708b32380a0e6cbc7b26

# Session file name (без расширения)
SESSION_NAME=anon 